.selected-look-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; /* Centra el contenido dentro del contenedor principal */
}

.selected-look-details {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra los elementos en el contenedor */
  margin-bottom: 20px;
  align-items: center; /* Centra verticalmente las imágenes e info */
}

.selected-look-details img {
  max-width: 300px;
  height: auto; /* Para mantener las proporciones */
  margin-right: 20px;
}

.selected-look-info {
  max-width: 600px;
  text-align: center; /* Centra el texto de la descripción */
}

.related-items {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.related-items-list {
  display: flex;
  justify-content: center; /* Centra los productos horizontalmente */
  align-items: center; /* Centra los productos verticalmente */
  gap: 20px; /* Ajusta el espacio entre los productos */
  width: 100%; /* El contenedor ocupa todo el ancho disponible */
  flex-wrap: wrap; /* Permite que los productos se ajusten si no hay suficiente espacio */
  margin: 0 auto; /* Centra el contenedor */
}

.related-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de cada item */
}

.related-item img {
  max-width: 200px;
  height: auto;
  object-fit: contain;
  max-height: 250px;
  display: block;
  margin: 0 auto; /* Centra la imagen */
}

.related-item a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center; /* Centra el texto dentro del enlace */
  margin-top: 10px; /* Espacio entre la imagen y el enlace */
}
